[class^="icon-"], [class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: currentColor; }

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  min-height: 100%; }

/*================================
TYPOGRAPHY
=================================*/
a {
  text-decoration: none; }

img, iframe {
  max-width: 100%; }

.scheme-color-red .nav__list-link--selected {
  color: #f17575; }
.scheme-color-red .header__account-list-link--selected {
  color: #f17575; }
.scheme-color-red .icon-favorite {
  fill: #f17575; }
.scheme-color-red .card-heading {
  background-color: #f17575; }
.scheme-color-red .success-block__heading {
  color: #f17575; }

.scheme-color-green .nav__list-link--selected {
  color: #05a999; }
.scheme-color-green .header__account-list-link--selected {
  color: #05a999; }
.scheme-color-green .icon-favorite {
  fill: #05a999; }
.scheme-color-green .card-heading {
  background-color: #05a999; }
.scheme-color-green .success-block__heading {
  color: #05a999; }

.scheme-color-yellow .nav__list-link--selected {
  color: #f2b852; }
.scheme-color-yellow .header__account-list-link--selected {
  color: #f2b852; }
.scheme-color-yellow .icon-favorite {
  fill: #f2b852; }
.scheme-color-yellow .card-heading {
  background-color: #f2b852; }
.scheme-color-yellow .success-block__heading {
  color: #f2b852; }

.inner {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  position: relative;
  overflow: hidden; }

.container {
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.row:before, .row:after {
  content: " ";
  display: table; }
.row:after {
  clear: both; }
.row + .row {
  margin-top: 1rem; }

.column > div + div, .column > div + section, .column > section + div, .column > section + section {
  margin-top: 1rem; }

@media screen and (max-width: 47rem) {
  div[class^="col-"] {
    width: 100%; }
    div[class^="col-"] + div[class^="col-"] {
      margin-top: 1rem; } }
@media screen and (min-width: 47rem) {
  .inner {
    padding: 0; }

  .container {
    margin-left: -2%;
    margin-right: -2%; }

  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row + .row {
    margin-top: 2rem; }

  .column > div + div, .column > div + section, .column > section + div, .column > section + section {
    margin-top: 2rem; }

  .col-1 {
    width: 4.33333%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; }

  .col-2 {
    width: 12.66667%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; }

  .col-3 {
    width: 21%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; }

  .col-4 {
    width: 29.33333%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; }

  .col-5 {
    width: 37.66667%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; }

  .col-6 {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; }

  .col-7 {
    width: 54.33333%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; }

  .col-8 {
    width: 62.66667%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; }

  .col-9 {
    width: 71%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; }

  .col-10 {
    width: 79.33333%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; }

  .col-11 {
    width: 87.66667%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; }

  .col-12 {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    position: relative; } }
.header {
  padding: 2rem;
  background-color: #ffffff; }
  .header:before, .header:after {
    content: " ";
    display: table; }
  .header:after {
    clear: both; }

.header__logo {
  display: inline-block;
  vertical-align: middle;
  float: left; }

.header__nav {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-left: 2rem; }

.nav__list-item {
  display: inline-block;
  vertical-align: middle;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em; }
  .nav__list-item + .nav__list-item {
    margin-left: 1rem; }

.nav__list-link {
  color: #2b2b2b; }
  .nav__list-link--selected {
    color: schemeColor(); }

.header__account {
  display: inline-block;
  vertical-align: middle;
  float: right; }

.header__account-list-item {
  display: inline-block;
  vertical-align: middle;
  font-family: "Raleway", sans-serif;
  font-size: 0.9em; }
  .header__account-list-item + .header__account-list-item {
    margin-left: 1rem; }

.header__account-list-link {
  color: #2b2b2b; }

.slab--default-grey {
  background-color: #fafafa; }

.container--main {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.card {
  background-color: white;
  box-shadow: -1px 1px 5px rgba(234, 234, 234, 0.9);
  width: 100%; }
  .card:before, .card:after {
    content: " ";
    display: table; }
  .card:after {
    clear: both; }

.card-heading {
  padding: 1.25rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  text-align: center; }

.card-heading.card-heading--green {
  background-color: #05a999; }

.card-heading.card-heading--red {
  background-color: #f17575; }

.card-heading.card-heading--yellow {
  background-color: #f2b852; }

.card-heading.card-heading--grey {
  background-color: #484848; }

.card-news__list {
  padding-left: 2.5rem;
  font-family: "Raleway", sans-serif; }

.card-news__list-item {
  border-bottom: solid 1px #eaeaea;
  padding: 1rem 0;
  color: #545454;
  position: relative; }
  .card-news__list-item:last-child {
    border-bottom: 0; }
  .card-news__list-item:before {
    content: "";
    display: block;
    height: 5px;
    width: 5px;
    background-color: currentcolor;
    position: absolute;
    border-radius: 50%;
    left: -1.35rem;
    top: 21px; }

.card-profile__photo {
  float: left;
  width: 200px; }

.card-profile__image {
  display: block; }

.card-profile__content {
  padding: 2rem;
  float: left; }

.card-profile__title {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 300; }

.card-profile__subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 0.75rem;
  color: #484848; }

.card-profile__likes {
  margin-top: 0.2rem; }

.card-profile__likes-icon {
  display: inline-block;
  vertical-align: middle; }
  .card-profile__likes-icon .icon-favorite {
    width: 28px;
    height: 28px; }

.card-profile__likes-num {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0.75rem;
  color: #484848;
  display: inline-block; }

.card-success__block {
  padding: 1rem; }
  .card-success__block:not(:last-child) {
    border-bottom: #eaeaea solid 1px; }

.success-block__heading {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 500; }

.success-block__team {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.success-block__team-item + .success-block__team-item {
  margin-left: 2%; }

.success-block__team-image {
  border-radius: 50%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.success-block__team-name {
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-top: 0.5rem;
  font-weight: 500; }

.success-block__team-description {
  font-family: "Raleway", sans-serif;
  line-height: 150%; }

.card-intro {
  padding: 2rem 1rem;
  text-align: center; }
  .card-intro .btn {
    margin-top: 1rem; }

.card-intro__process:before, .card-intro__process:after {
  content: " ";
  display: table; }
.card-intro__process:after {
  clear: both; }

.card-intro__process-item {
  float: left;
  width: 30%;
  text-align: center;
  position: relative; }
  .card-intro__process-item + .card-intro__process-item {
    margin-left: 3.3333%; }
    .card-intro__process-item + .card-intro__process-item:before {
      content: ">";
      position: absolute;
      left: -9px;
      top: 10px;
      font-family: "Raleway", sans-serif;
      color: #CCD0DA; }

.card-intro__process-tag {
  text-align: center;
  color: #484848;
  font-family: "Raleway", sans-serif;
  font-size: 0.85rem;
  display: block;
  margin-top: 0.5rem;
  line-height: 130%; }

.card-intro__progress--yellow svg {
  fill: #f2b852; }

.card-intro__progress--green svg {
  fill: #05a999; }

.card-intro__progress--red svg {
  fill: #f17575; }

.card-roles__list-item {
  padding: 1rem;
  transition: background-color 250ms ease-out;
  position: relative; }
  .card-roles__list-item:before, .card-roles__list-item:after {
    content: " ";
    display: table; }
  .card-roles__list-item:after {
    clear: both; }
  .card-roles__list-item:hover {
    background-color: #fafafa;
    cursor: pointer; }
  .card-roles__list-item + .card-roles__list-item:before {
    content: "";
    width: 75%;
    border-top: #eaeaea solid 1px;
    position: absolute;
    top: 0;
    right: 0; }

.card-roles__icon-row:before, .card-roles__icon-row:after {
  content: " ";
  display: table; }
.card-roles__icon-row:after {
  clear: both; }

.card-roles__user-icon {
  float: left; }
  .card-roles__user-icon img, .card-roles__user-icon svg {
    border-radius: 50%;
    display: block;
    width: 34px;
    height: 34px; }

.card-roles__role-holder {
  float: right; }

.card-roles__role-item {
  float: left; }
  .card-roles__role-item img, .card-roles__role-item svg {
    width: 34px;
    height: 34px; }
  .card-roles__role-item + .card-roles__role-item {
    margin-left: 0.3rem; }

.card-roles__info {
  width: 100%;
  display: block;
  margin-top: 0.8rem; }

.card-roles__likes {
  float: left;
  display: inline-block;
  vertical-align: middle; }
  .card-roles__likes:before, .card-roles__likes:after {
    content: " ";
    display: table; }
  .card-roles__likes:after {
    clear: both; }

.card-roles__likes-icon {
  display: inline-block;
  vertical-align: middle; }
  .card-roles__likes-icon .icon-favorite {
    width: 0.9rem;
    height: 0.9rem; }

.card-roles__likes-num {
  font-family: "Maven Pro", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: #484848;
  display: inline-block;
  vertical-align: middle; }

.card-roles__info-text {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  color: #484848;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem; }

.page-header {
  width: 100%;
  padding: 2.5rem 1rem; }

.page-header__title {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.75em;
  font-weight: 900; }

.page-header--grey {
  background-color: #CCD0DA;
  color: #ffffff; }

.page-header--green {
  background-color: #05a999;
  color: #ffffff; }

.page-header--red {
  background-color: #f17575;
  color: #ffffff; }

.page-header--blue {
  background-color: #50b3c7;
  color: #ffffff; }

.page-header--yellow {
  background-color: #f2b852;
  color: #ffffff; }

.btn {
  font-family: "Raleway", sans-serif;
  text-align: center;
  width: 6rem;
  display: inline-block;
  padding: 0.8rem 0;
  border-radius: 4px;
  transition: box-shadow 250ms ease-out; }
  .btn:hover {
    box-shadow: -3px 3px 5px rgba(234, 234, 234, 0.9); }

.btn--red {
  background-color: #f17575;
  color: #ffffff; }

.btn--green {
  background-color: #05a999;
  color: #ffffff; }

.btn--yellow {
  background-color: #f2b852;
  color: #ffffff; }

@media screen and (min-width: 47rem) {
  .card-profile__photo {
    float: left;
    width: 200px; }

  .card-profile__image {
    display: block; }

  .card-profile__content {
    padding: 2rem;
    float: left; }

  .card-profile__title {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: 300; }

  .card-profile__subtitle {
    font-family: "Raleway", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 0.75rem;
    color: #484848; }

  .card-profile__likes {
    margin-top: 0.2rem; }

  .card-profile__likes-icon {
    display: inline-block;
    vertical-align: middle; }
    .card-profile__likes-icon .icon-favorite {
      width: 28px;
      height: 28px; }

  .card-profile__likes-num {
    font-family: "Maven Pro", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0.75rem;
    color: #484848;
    display: inline-block; } }
