@each $color in red, green, yellow{

	.scheme-color-#{$color} {
		$scheme: $color-grey;
		
		@if $color == red {
			$scheme: $color-red;
		}
		@if $color == green {
			$scheme: $color-green;
		}
		@if $color == yellow {
			$scheme: $color-yellow;
		}

		.nav__list-link {
			&--selected {
				color: $scheme;
			}
		}

		.header__account-list-link {
			&--selected {
				color: $scheme;
			}
		}

		.icon-favorite {
			fill: $scheme;
		}

		.card-heading {
			background-color: $scheme;
		}

		.success-block__heading {
			color: $scheme;
		}

	}
}