$grid-width: 960px !default !global;
$gutter-width: 2% !default !global;
$columns: 12 !default !global;
$column-width: 100% / $columns;
$small-top: 1rem !default !global;
$large-top: 1rem !default !global;

.inner {
	width: 100%;
	max-width: $grid-width;
	margin-left: auto;
	margin-right: auto;

	padding: 0 1rem;
	position: relative;
	overflow: hidden;
}

.container {
	@include clearfix();
	position: relative;
}

.row {
	@include clearfix;
	+.row {
		margin-top: $small-top;
	}
}

.column {
	>div, >section {
		+div, +section {
			margin-top: $small-top;
		}
	}
}

@mixin push($push) {
	margin-left: ($push * $column-width) + $gutter-width / 2;
}

@media screen and (max-width: $mq-large) {
	div[class^="col-"] {
		width: 100%;

		+div[class^="col-"] {
			margin-top: $small-top;
		}
		
	}
}

@media screen and (min-width: $mq_large) {

	.inner {
		padding: 0;
	}

	.container {
		margin-left: -0.5 * $gutter-width;
		margin-right: -0.5 * $gutter-width;
	}

	.row {
		@include clearfix;
		+.row {
			margin-top: $large-top;
		}
	}

	.column {
		>div, >section {
			+div, +section {
				margin-top: $large-top;
			}
		}
	}

	@for $i from 1 through $columns {
		.col-#{$i} {
			width: ($column-width * $i) - $gutter-width;
			margin-left: $gutter-width / 2;
			margin-right: $gutter-width / 2;
			float: left;
			position: relative;
		}
	}
}