$color-green: #05a999;
$color-red: #f17575;
$color-yellow: #f2b852;
$color-blue: #50b3c7;
$color-pink: #f43779;
$color-blue-alt: #05c9f0;
$color-green-alt: #25d97d;

$color-white: #ffffff;
$color-grey-dark: 
#2b2b2b;
$color-grey: 
#484848;
$color-grey-highlight: 
#717171;
$color-grey-chat: 
#545454;
$color-grey-light: 
#eaeaea;
$color-grey-bg: 
#fafafa;
$color-grey-selected: 
#f0f0f0;
$color-grey-blue: 
#CCD0DA;


$mq_large: 47rem;

// Grid Stuff
$grid-width: 64rem;
$gutter-width: 4%;
$columns: 12;
$large-top: 2rem;
$small-top: 1rem;

$font-maven: 'Maven Pro', sans-serif;
$font-raleway: 'Raleway', sans-serif;