.btn {
	font-family: $font-raleway;
	text-align: center;
	width: 6rem;
	display: inline-block;
	padding: 0.8rem 0;
	border-radius: 4px;
	transition: box-shadow 250ms ease-out;

	&:hover {
		box-shadow: -3px 3px 5px rgba($color-grey-light, 0.9);
	}
}

.btn--red {
	background-color: $color-red;
	color: $color-white;
}

.btn--green {
	background-color: $color-green;
	color: $color-white;
}

.btn--yellow {
	background-color: $color-yellow;
	color: $color-white;
}