.card {
	background-color: white;
	box-shadow: -1px 1px 5px rgba($color-grey-light, 0.9);
	width: 100%;
	@include clearfix;
}

.card-heading {
	padding: 1.25rem;
	color: $color-white;
	font-family: $font-raleway;
	font-size: 1.2em;
	text-align: center;
}


// These colors overwrite the defaults set by color-scheme.scss
.card-heading {
	&.card-heading--green {
		background-color: $color-green;
	}
}

.card-heading {
	&.card-heading--red {
		background-color: $color-red;
	}
}

.card-heading {
	&.card-heading--yellow {
		background-color: $color-yellow;
	}
}

.card-heading {
	&.card-heading--grey {
		background-color: $color-grey;
	}
}

@import 'cards/card-news.small';
@import 'cards/card-profile.small';
@import 'cards/card-success.small';
@import 'cards/card-intro.small';
@import 'cards/card-roles.small';