.header {
	padding: 2rem;
	background-color: $color-white;
	@include clearfix;
}

.header__logo {
	display: inline-block;
	vertical-align: middle;
	float: left;
}

.header__nav {
	display: inline-block;
	vertical-align: middle;
	float: left;
	margin-left: 2rem;
}

.nav__list-item {
	display: inline-block;
	vertical-align: middle;
	font-family: $font-raleway;
	font-size: 0.9em;

	+.nav__list-item {
		margin-left: 1rem;
	}
}

.nav__list-link {
	color: $color-grey-dark;

	&--selected {
		color: schemeColor();
	}
}

.header__account {
	display: inline-block;
	vertical-align: middle;
	float: right;
}

.header__account-list-item {
	display: inline-block;
	vertical-align: middle;
	font-family: $font-raleway;
	font-size: 0.9em;

	+.header__account-list-item  {
		margin-left: 1rem;
	}
}

.header__account-list-link {
	color: $color-grey-dark;
}