.page-header {
	width: 100%;
	padding: 2.5rem 1rem;
}

.page-header__title {
	text-align: center;
	font-family: $font-maven;
	font-size: 1.75em;
	font-weight: 900;
}

.page-header--grey {
	background-color: $color-grey-blue;
	color: $color-white;
}

.page-header--green {
	background-color: $color-green;
	color: $color-white;
}

.page-header--red {
	background-color: $color-red;
	color: $color-white;
}

.page-header--blue {
	background-color: $color-blue;
	color: $color-white;
}

.page-header--yellow {
	background-color: $color-yellow;
	color: $color-white;
}
