.card-profile__photo {
	float: left;
	width: 200px;
}

.card-profile__image {
	display: block;
}

.card-profile__content {
	padding: 2rem;
	float: left;
}

.card-profile__title {
	font-family: $font-raleway;
	font-size: 1.6rem;
	font-weight: 300;
}

.card-profile__subtitle {
	font-family: $font-raleway;
	font-size: 1.1rem;
	font-weight: 300;
	margin-top: 0.75rem;
	color: $color-grey;
}

.card-profile__likes {
	margin-top: 0.2rem;
}

.card-profile__likes-icon {
	display: inline-block;
	vertical-align: middle;

	.icon-favorite {
		width: 28px;
		height: 28px;
	}
}

.card-profile__likes-num {
	font-family: $font-maven;
	font-size: 1.25rem;
	font-weight: 400;
	margin-top: 0.75rem;
	color: $color-grey;
	display: inline-block;
}