.card-roles__list-item {
	padding: 1rem;
	@include clearfix;
	transition: background-color 250ms ease-out;
	position: relative;

	&:hover {
		background-color: $color-grey-bg;
		cursor: pointer;
	}

	+.card-roles__list-item{

		&:before {
			content: "";
			width: 75%;
			border-top: $color-grey-light solid 1px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

}

.card-roles__icon-row {
	@include clearfix;
}

.card-roles__user-icon {
	float: left;

	img, svg {
		border-radius: 50%;
		display: block;
		width: 34px;
		height: 34px;
	}
}

.card-roles__role-holder {
	float: right;
}

.card-roles__role-item {
	float: left;

	img, svg {
		width: 34px;
		height: 34px;
	}

	+.card-roles__role-item {
		margin-left: 0.3rem;
	}
}

.card-roles__info {
	width: 100%;
	display: block;
	margin-top: 0.8rem;
}

.card-roles__likes {
	float: left;
	@include clearfix;
	display: inline-block;
	vertical-align: middle;
}

.card-roles__likes-icon {
	display: inline-block;
	vertical-align: middle;

	.icon-favorite {
		width: 0.9rem;
		height: 0.9rem;
	}
}

.card-roles__likes-num {
	font-family: $font-maven;
	font-size: 0.9rem;
	font-weight: 700;
	color: $color-grey;
	display: inline-block;
	vertical-align: middle;

}

.card-roles__info-text {
	font-family: $font-raleway;
	font-size: 0.9rem;
	// font-weight: 500;
	color: $color-grey;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.5rem;
}