.card-success__block {
	padding: 1rem;

	&:not(:last-child) {
		border-bottom: $color-grey-light solid 1px 
	}
}

.success-block__heading {
	text-align: center;
	font-family: $font-raleway;
	font-weight: 500;
}

.success-block__team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.success-block__team-item {
	& + & {
		margin-left: 2%;
	}
}

.success-block__team-image {
	border-radius: 50%;
	display: block;
	user-select: none;
}

.success-block__team-name {
	display: block;
	text-align: center;
	font-family: $font-raleway;
	margin-top: 0.5rem;
	font-weight: 500;
}

.success-block__team-description {
	font-family: $font-raleway;
	line-height: 150%;
}