.card-intro {
	padding: 2rem 1rem;
	text-align: center;

	.btn {
		margin-top: 1rem;
	}
}

.card-intro__process {
	@include clearfix;
}

.card-intro__process-item {
	float: left;
	width: 30%;
	text-align: center;
	position: relative;

	+.card-intro__process-item {
		margin-left: 3.3333%;

		&:before {
			content: ">";
			position: absolute;
			left: -9px;
			top: 10px;
			font-family: $font-raleway;
			color: $color-grey-blue;
		}
	}
}

.card-intro__process-tag {
	text-align: center;
	color: $color-grey;
	font-family: $font-raleway;
	font-size: 0.85rem;
	display: block;
	margin-top: 0.5rem;
	line-height: 130%;
}

.card-intro__progress--yellow {
	svg {
		fill: $color-yellow;
	}
}

.card-intro__progress--green {
	svg {
		fill: $color-green;
	}
}

.card-intro__progress--red {
	svg {
		fill: $color-red;
	}
}