.card-news {

}

.card-news__list {
	padding-left: 2.5rem;
	font-family: $font-raleway;
}

.card-news__list-item {
	border-bottom: solid 1px $color-grey-light;
	padding: 1rem 0;
	color: $color-grey-chat;
	position: relative;

	&:last-child {
		border-bottom: 0;
	}

	&:before {
		content: "";
		display: block;
		height: 5px;
		width: 5px;
		background-color: currentcolor;
		position: absolute;
		border-radius: 50%;
		left: -1.35rem;
		top: 21px;
	}
}